$color-gray: #DEDEDE;
$font-56: 56px;
$font-14: 14px;
$font-16: 16px;
$font-36: 36px;
$font-24: 24px;
$font-20: 20px;
$font-18: 18px;
$font-42: 42px;
$font-48: 48px;
$gradient: linear-gradient(138deg, #6477DD 0%, #C753C1 52.29%, #DC1DC3 100%);


.pb-128 {
    padding-bottom: 128px;
}
.pt-120 {
    padding-top: 120px;
}