.intro {
    background-image: url('../assets/img/intro_bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 80px;
    &-title{ 
        font-size: 64px;
        font-family: 700;
        max-width: 450px;
    }
    &-info {
        display: block;
    }
    &-text {
        line-height: 24px;
        max-width: 526px;
        margin-bottom: 40px;
    }
    &-buttons {
        gap: 26px;
        margin-bottom: 67px;
    }
    &-statistics__card {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    &-statistics__number {
        color: #FFF;
        font-family: 'Ruda' , sans-serif;
        font-size: $font-36;
        font-weight: 700;
        line-height: 40px;
    }
    &-statistics {
        gap: 70px;
    }

}

@media screen and (max-width: 996px){
    .intro {
        background-image: url('../assets/img/intro_bg_mobile.jpg');
        background-position: center;
        background-size: cover;
        &-title, &-text {
            backdrop-filter: blur(10px);
            border-radius: 10px;
            padding: 12px;
            max-width: 350px;
        }
        &-title {
            font-size: 40px;
        }
        &-text {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 450px){
    .intro {
        &-statistics {
            flex-direction: column;
            gap: 20px;
        }
        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
}