.btn {
    &-gradient , &-transparent , &-onlyBorder {
        padding: 12px 0;
        display: inline-flex;
        background: $gradient;
        font-family: 'DM Sans', sans-serif;
        color: #fff;
        font-size: $font-16;
        line-height: $font-16;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
    }
    &-gradient , &-onlyBorder {
        padding: 12px 24px;
    }
    &-transparent , &-onlyBorder {
        background: none;
    }
    &-gradient:hover {
        transform: scale(1.05);
        border-radius: 15px;
    }
    &-onlyBorder {
        background: none;
        padding: 0;
    }
    &-intro {
        padding: 16px 32px;
        font-weight: 500;
        height: 53px;
        display: inline-block;
    }
    &-toggle {
        display: inline-flex;
        width: 40px;
        height: 52px;
        border: 0.5px solid rgba(255, 255, 255, 0.28);
        backdrop-filter: blur(2px);
        background: none;
        transition: all 0.25s;
        color: #FFF;
        justify-content: center;
        align-items: center;
    }
    &-up {
        display: inline-flex;
        border: none;
        outline: none;
        width: 42px;
        height: 42px;
        background: $gradient;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &-up::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        animation: ripple 1.5s linear infinite;
    }
    &-up__img {
        width: 27px;
        height: 27px;
        transition: transform 0.3s ease-in-out;
    }
    &-up--postion {
        position: fixed;
        top: auto;
        bottom: 5%;
        left: auto;
        right: 5%;
        z-index: 10;
    }
    
    &-toggle:hover {
        border: 1px solid #FFF;
    }
    &-view {
        font-size: $font-18;
        transition: all 0.25s;
        border-bottom: 1px solid transparent;
        cursor: pointer;
    }
    &-view:hover {
        border-bottom: 1px solid #fff;
    }
}

.btn-up:hover .btn-up__img {
    transform: scale(1.2); 
}


@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
